<blockquote class="imgur-embed-pub" lang="en" data-id="qL4td9j"><a href="//imgur.com/qL4td9j">My immediate thought whenever my &quot;bank&quot; emails me</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
